* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header {
    min-width: 1900px;
}
.header__nav__bar__box{
background-color: #313131;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.header__nav__bar__logo__box{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
}
.header__nav__bar__logo__text{
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 29px;
    margin: 0;
}
.header__logo__link{
    text-decoration: none;
    margin: 5px;
}

.header__nav__bar__menu{
    list-style-type: none;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
.header__nav__bar__elements__text{
    color: white;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    font-size: 25px;
    margin: 0 25px 0 25px;
}
.header__nav__bar__elements__text:hover{
    color: #18B4CF;
}
.header__nav__bar__search{
    background-color: black;
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-nav{
    margin: 0;
    list-style-type: none;
    display: flex;
    color: #18B4CF;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    justify-content: center;
}
.site-nav-element{
    margin: 20px;

}
.header__image{
    margin: 0;
    min-height: 440px;
    min-width: 1900px;
    background-size: cover;
    background-image: url("../Images/header-background.png");
    background-attachment: fixed;
}
.header__title__box{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}
.header__title{
    color: white;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
}
.header__buttons__box{
    display: flex;
    justify-content: center;
}
.header__buttons{
    font-family: "Open Sans",sans-serif;
    color: white;
    width: 170px;
    height: 55px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.header__buttons:first-child{
    background-color: #89CA62;
}
.header__buttons:last-child{
    background-color: #14B9D5;
}
.main{
    min-width: 1900px;
}
.gallery__box {
    background-color: #F9F7F7;
    height: 1100px;
    padding-top: 50px;
}
.gallery__title{
    color: #18B4CF;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
}
.gallery{
    max-width: 1180px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.gallery-items{
    background-color: white;
    width: 370px;
    margin: 20px 5px 5px 5px
}
.vanglo-house{
    height: 320px;
}
.royal-blossom{
    height: 320px;
}
.sunrise-expanse{
    height: 440px;
}
.sunset-shack{
    height: 310px;
}
.stargaze-resort{
    height: 355px;
}
.glorious-expanse{
    height: 440px;
}
.gallery-names{
    font-family: "Open Sans";
    text-align: center;
}
.our-most-popular-clients {
    min-width: 1900px;
    height: 590px;
    background-image: url("../images/our-most-popular-clients.png");
    background-size: cover;
    padding-top: 75px;
    background-attachment: fixed;
}
.our-most-popular-clients-title{
    position: relative;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 35px;

}
.our-most-popular-clients-title::after{
    position: absolute;
    content: '';
    border: 1px solid #18B4CF;
    width: 60px;
    left: 930px;
    top: 130px;
}
.gallery-brand{
    margin-top: 150px;
    display: grid;
    grid-auto-flow: column;
    margin-left: 400px;
    margin-right: 400px;
}
.gallery-brand-items{
    padding:40px;
    list-style-type: none;
}
.top-rated{
    min-width: 1900px;
    height: 325px;
    padding-top: 30px;
    margin: 0 auto;
}
.top-rated-title{
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 30px;
}
.top-rate-gallery{
    display: grid;
    grid-template-columns: repeat(7, 275px);
}
.hot-news{
    min-width: 1900px;
    height: 1650px;
}
.hot-news-title{
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 30px;
}
.hot-news-gallery{
    display: grid;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: 259px 418px 418px 259px;
    gap: 43px 15px;
    max-width: 1230px;
    margin: 0 auto;
}
.prophecy-hotel {
    grid-column: 1 / span 3;
    gap: 35px
}
.nebula-hotel{
    grid-column: span 1;
}
.western-pyramid{
    margin-right: 15px;
    grid-column: span 2;
}
.grand-meadows{
    margin-left: 15px;
    grid-column: span 2;

}
.wanderlust-resort{
    grid-column: span 2;
    margin-right: 15px;
}
.twin-sanctuary{
    grid-column: span 2;
    margin-left: 15px;
}
.prism-hotel{
    grid-column: span 1;
}
.king\'s-shroud{
    grid-column: span 3;
}
.hot-news-item {
    background-color: #F9F7F7;
}


.top-bottom-hotel-description-box{
    height: 100%;
    width: 350px;
    float: right;
}
.top-bottom-hotel-title{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
}
.top-bottom-hotel-description{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    margin-right: 20px;
    color: #5B6469;
}

.small-top-bottom-hotel-title{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    margin-top: 17px;
}
.hot-news-item-central{
    background-color: #F9F7F7;
}

.central-images-title{
    font-family: "Open Sans",sans-serif;
    text-align: right;
    margin: 7px 20px 7px 0;
}
.central-images-description{
    font-family: "Open Sans",sans-serif;
    color: #5B6469;
    font-size: 13px;
    line-height: 21px;
    text-align: right;
    margin-right: 14px;
}
.footer{
    min-width: 1900px;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-copyright{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 110px;
    line-height: 13px;
}
.footer-logo{
    margin-right:210px;
    width: 105px;
    height: 24px;
    font-style: normal;
}
#button {
    display: inline-block;
    background-color: #14B9D5;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 1;
}
#button:hover {
    cursor: pointer;
    opacity: 0.8;
}
#button:active {
    background-color: #555;
}
#button::after {
    position: absolute;
    top: 20px;
    left: 19px;
    content: "";
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotateZ(45deg);
    width: 10px;
    height: 10px;
}
.show{
    visibility: hidden;
}
#hide-scroll-btn{
    width: 80px;
    height: 50px;
    color: blanchedalmond;
    background-color: black;
    border-radius: 5px;
    float: right;
    margin: 0 48px 40px 0;
    font-size: 20px;
}
